.about{
    border-bottom: 10px solid rgba(128, 128, 128, 0.13);
}


.about-title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-title{
    font-size: 22px;
}

.journey{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.journey p{
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
    line-height: 15px;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    line-height: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (min-width: 1024px) {
    .about{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-bottom: none;
        width: 100%;
    }
    
    .about-title{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .journey p{
        font-family: 'Roboto',sans-serif;
        line-height: 35px;
        font-size: 25px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .about img{
        height: 100%;
        width: 40vw;
    }
}