.menu{
    display: none;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    right: 0;
    top: 4.5rem;
    background-color: rgb(39, 39, 39);
    width: 60%;
    height: auto;
    border-bottom-left-radius: 10px;
}

.menu ul{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    height: 100%;
    margin: 0;
    padding: 10px;
    border-bottom-left-radius: 10px;
}

.menu li{
    background-color: transparent;
    border-bottom: 1px solid #dcd95e;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-weight: 400;
    list-style: none;
    font-size: 25px;
    margin: 7px;
    padding: 10px;
    cursor: pointer;
    width: auto;
    
}

.menu li:hover{
    background-color: #dcd95e;
    color: black;
}

.menu a{
    text-decoration: none;
    color: white;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    padding: 15px;
    color: #dcd95e;
}

.socials a{
    text-decoration: none;
    color: #dcd95e;
}

.socials a:hover{
    color: white;
}

#git{
    cursor: pointer;
}

#linkedin{
    cursor: pointer;
}

.menuIcons{
    position: relative;
    top: 2px;
    margin-right: 5px;
}