

.contact-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.contact-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-page img {
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
    top: 27px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-page h4 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: 52px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #e69a0ee3;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin-top: 15px;
}

.contact-detail p {
    background-color: rgba(128, 128, 128, 0.13);
    font-size: 1.2em;
    color: white;
    border: 1px solid grey;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
    text-align: start;
}

#whatsapp {
    color: #25D366;
}

#phone {
    color: #007AFF;
}

.contact-icons {
    padding-right: 8px;
    border-right: 1px solid grey;
    margin-right: 10px;
    vertical-align: sub;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .contact-page img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contact-page img {
        width: 30%;
    }

}