<<<<<<< HEAD


.contact-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.contact-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-page img {
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
    top: 27px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-page h4 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: 52px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #e69a0ee3;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin-top: 15px;
}

.contact-detail p {
    background-color: rgba(128, 128, 128, 0.13);
    font-size: 1.2em;
    color: white;
    border: 1px solid grey;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
    text-align: start;
}

#whatsapp {
    color: #25D366;
}

#phone {
    color: #007AFF;
}

.contact-icons {
    padding-right: 8px;
    border-right: 1px solid grey;
    margin-right: 10px;
    vertical-align: sub;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .contact-page img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contact-page img {
        width: 30%;
=======
.form-title{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin: 30px;
}

.form-title h2{
    font-size: 30px;
}

.form{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-container{
    padding: 25px;
    margin: 5px;
}

.form input{
    border: 1px solid #dcd95e;
    border-radius: 10px;
    padding: 12px;
}

.form input:focus{
    border-color: #dcd95e;
}

.form textarea{
    border: 1px solid #dcd95e;
    border-radius: 5px;
}

.form-btn{
    background-color: #dcd95e;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #dcda5e4f;
    border-radius: 5px;
    width: 97%;
    cursor: pointer;
    margin-top: 15px;
}

.contactIcons{
    position: relative;
    top: 3px;
}

@media (min-width: 1024px) {
    .form-title h2{
        font-size: 45px;
    }

    .form-title p{
        font-size: 25px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-bottom: 20px;
    }

    .form-container{
        width: 25%;
        background-color: rgb(39, 39, 39);
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .form-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
    }

    .form-title p{
        width: 40%;
>>>>>>> 187b0526878f769779babe39399e79e8d7f6fb3e
    }

}