.contact-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.contact-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-page img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-page h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    border: none;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    width: auto;
    margin-right: 15px;
    padding: 10px;
}

.contact-detail p {
    background-color: rgba(128, 128, 128, 0.13);
    font-size: 1.2em;
    color: white;
    border: 1px solid grey;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
    text-align: start;
}

#whatsapp {
    color: #25D366;
}

#phone {
    color: #007AFF;
}

.contact-icons {
    padding-right: 8px;
    border-right: 1px solid grey;
    margin-right: 10px;
    vertical-align: sub;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .contact-page img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contact-page img {
        width: auto;
        height: 50vh;
    }

    .contact-page h4 {
        margin-left: 5px;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        border-radius: 20px;
    }

}