footer{
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    font-size: 10px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (min-width: 1024px) {
    footer{
    position: relative;
    bottom: -35px;
    }
}